*ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.gradle/

*.pidb.meta
*.pdb.meta
*.mdb.meta

*/sysinfo.txt

crashlytics-build.properties

*.apk
*.unitypackage

!/[Aa]ssets/**/*.meta


*/[Ll]ibrary/
*/[Tt]emp/
*/[Oo]bj/
*/[Bb]uild/
*/[Bb]uilds/
*/[Ll]ogs/
*/[Mm]emoryCaptures/

/Temp/UnityLockfile

/.vs/RollABall/v15/Server/sqlite3/db.lock